NODE_ENV=development
PORT=server_port_number
MONGO_URI=your_mongodb_connection_string
JWT_SECRET=your_super_secret_jwt_key_change_this_in_production
JWT_EXPIRES_IN=number_of_days
CLIENT_URL=your_client_url
